@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.yellow {
  fill: #ffd500;
}
.blue {
  fill: #005bbb;
}
.st0 {
  fill: #fefefe;
}
.st1 {
  fill: #c8102e;
}
.st2 {
  fill: #012169;
}

li{
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




