@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


li{
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




